.main {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main .main-text {
    margin-top: 5rem;
}

.main .main-text h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: .6rem;
}

.main .main-text p {
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.main-btn {
    transform: translateY(-2rem);
}

.main-btn button a {
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: -5rem;
    background-color: rgba(23, 26, 32, .7);
    padding: .6rem 5rem;
    color: var(--white);
    display: block;
}

@media screen and (max-width: 836px) {
    .main-btn button a {
        font-size: .9rem;
        letter-spacing: 1px;
        border-radius: 4px;
        margin-top: -5rem;
        background-color: rgba(23, 26, 32, .7);
        padding: .6rem 3rem;
        color: var(--white);
        display: block;
    }
}

@media screen and (max-width: 598px) {
    .main-btn {
        width: var(--max-width);
    }

    .main-btn button {
        width: 100%;
    }

    .main-btn button a {
        font-size: .9rem;
        letter-spacing: 1px;
        border-radius: 4px;
        margin-top: -5rem;
        background-color: rgba(23, 26, 32, .7);
        padding: .6rem 3rem;
        color: var(--white);
        display: block;
        width: 100%;
    }
}