.modelx .modelxMain {
    background-color: black;
    padding-bottom: 6rem;
}

.modelx .modelxMain .modelxMain-header {
    height: 138vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    object-fit: fill;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-text {
    text-align: center;
    margin-top: 5.6rem;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-text h1 {
    font-size: 3rem;
    font-weight: lighter;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-text p {
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units {
    display: flex;
    color: var(--white);
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-unit {
    padding: 0 3rem;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-unit h1 {
    font-size: 1.7rem;
    font-weight: lighter;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-unit p {
    font-size: .7rem;
    margin-top: 1rem;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-units-btn * {
    display: block;
    text-align: center;
    color: white;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-units-btn button {
    width: 12rem;
    transition: var(--transition);
    font-size: 1rem;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid white;
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-units-btn button a {
    display: block;
    width: 100%;
    padding: .6rem 0;
    height: 100%;
    color: white;
    background-color: transparent;
    transition: var(--transition);
}

.modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-units-btn button:hover a {
    background-color: white;
    color: black;
}

.modelx .modelxMain .future h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    margin-top: 3rem;
    text-align: center;
}

.modelx .modelxMain .modelxMain-future {
    background-size: cover;
    height: 138vh;
    object-fit: fill;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.modelx .feature-item {
    background-color: black;
}

.modelx .feature-item .feature {
    display: grid;
    color: var(--white);
    border-radius: 4px;
    width: 90%;
    grid-gap: 4rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
}

.modelx .feature-item .feature .feature-left {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.modelx .feature-item .feature .feature-left img {
    width: 100%;
    height: 100%;
}

.modelx .feature-item .feature .feature-left video {
    width: 100%;
    height: 100%;
}

.modelx .feature-item .feature .feature-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modelx .feature-item .feature .feature-right h1 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modelx .feature-item .feature .feature-right p {
    font-size: .9rem;
}

.modelx .feature-item .feature .feature-right .feature-right-para {
    display: inline-block;
}

.modelx .speed {
    background-size: cover;
    height: 138vh;
    background-repeat: no-repeat;
    display: flex;
    object-fit: fill;
    align-items: flex-end;
    padding-bottom: 4rem;
    color: white;
    text-align: center;
    width: 100vw;
    justify-content: space-around;
}

.modelx .speed .speed-unit .speed-unit-top {
    margin-bottom: 1rem;
}

.modelx .speed .speed-unit .speed-unit-top h1 {
    font-weight: lighter;
}

.modelx .speed .speed-unit .speed-unit-bottom p {
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: lighter;
}

.modelx .about {
    display: grid;
    grid-template-columns: 40% auto;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.modelx .about .about-left p {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    letter-spacing: 1px;
}

.modelx .about .about-left h1 {
    font-weight: lighter;
    margin-bottom: 1rem;
}

.modelx .about .about-left .about-left-btn * {
    display: block;
    text-align: center;
    color: black;
}

.modelx .about .about-left .about-left-btn button {
    width: 12rem;
    margin: 1rem 0 1rem 0;
    transition: var(--transition);
    font-size: 1rem;
    border-radius: 4px;
}

.modelx .about .about-left .about-left-btn button a {
    display: block;
    padding: .6rem 0;
}

.modelx .about .about-left .about-left-btn button:hover {
    background-color: aliceblue;
}

.modelx .about .about-left .about-left-btn button:first-child {
    width: 12rem;
    padding: 0;
    margin: 2rem 0 1rem 0;
    background-color: white;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 4px;
}

.modelx .about .about-left .about-left-btn button:first-child a {
    transition: var(--transition);
}

.modelx .about .about-left .about-left-btn button:hover:first-child a {
    background-color: black;
    color: white !important;
}

.modelx .about .about-right p {
    font-size: 1rem;
    line-height: 22px;
    color: grey;
}

.modelx .about .about-right p a {
    color: black;
    text-decoration: underline;
}

.modelx .about .about-right {
    height: 100%;
    width: 100%;
}

.modelx .about .about-right img {
    height: 100%;
    width: 100%;
}

.modelx .eletcric {
    padding-top: 11rem;
    background-color: rgba(194, 194, 194, .3);
}

.modelx .eletcric .eletcric-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.modelx .eletcric .eletcric-text h1 {
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.modelx .eletcric .eletcric-text p {
    letter-spacing: 1px;
    font-size: 1rem;
}

.modelx .eletcric .electric-gallery {
    width: 94%;
    margin: 0 auto;
    margin-bottom: 4rem;
    height: 100vh;
}

.modelx .eletcric .electric-gallery .electric-gallery-img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.modelx .eletcric .electric-gallery .electric-gallery-img img {
    height: 100%;
    width: 100%;
}

.modelx .eletcric .electric-desc {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 4rem;
    grid-template-columns: repeat(2, 1fr);
}

.modelx .eletcric .electric-desc .electric-desc-text {
    opacity: .4;
    border-top: 4px solid black;
    transition: var(--transition);
    padding-top: .8rem;
}

.modelx .eletcric .electric-desc .electric-desc-text-active {
    padding-top: .8rem;
    opacity: 1;
    border-top: 4px solid black;
    transition: var(--transition);
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-head {
    margin-bottom: 2rem;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-head h1 {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    font-weight: lighter;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-head p {
    font-size: .9rem;
    letter-spacing: 1px;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-units {
    display: flex;
    text-align: center;
    align-items: center;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-units .electric-desc-unit:nth-child(2),
.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-units .electric-desc-unit:nth-child(3) {
    margin-left: 3rem;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-units .electric-desc-unit h1 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: .4rem;
}

.modelx .eletcric .electric-desc .electric-desc-text .electric-desc-units .electric-desc-unit p {
    font-size: .8rem;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-head {
    margin-bottom: 2rem;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-head h1 {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    font-weight: lighter;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-head p {
    font-size: .9rem;
    letter-spacing: 1px;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-units {
    display: flex;
    text-align: center;
    align-items: center;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-units .electric-desc-unit:nth-child(2),
.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-units .electric-desc-unit:nth-child(3) {
    margin-left: 3rem;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-units .electric-desc-unit h1 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: .4rem;
}

.modelx .eletcric .electric-desc .electric-desc-text-active .electric-desc-units .electric-desc-unit p {
    font-size: .8rem;
}

.modelx .eletcric .para {
    font-size: .9rem;
    padding-bottom: 3rem;
    text-align: center;
}

.modelx .exterior-main {
    background-size: cover;
    height: 136vh;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.modelx .design {
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
}

.modelx .design .exterior {
    display: grid;
    grid-template-columns: 40% auto;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.modelx .design .exterior .exterior-left p {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    letter-spacing: 1px;
}

.modelx .design .exterior .exterior-left h1 {
    font-weight: lighter;
    margin-bottom: 1rem;
}

.modelx .design .exterior .exterior-left .exterior-left-btn * {
    display: block;
    text-align: center;
    color: white;
}

.modelx .design .exterior .exterior-left .exterior-left-btn button {
    width: 12rem;
    margin: 1rem 0 1rem 0;
    transition: var(--transition);
    font-size: 1rem;
    background-color: grey;
    border-radius: 4px;
}

.modelx .design .exterior .exterior-left .exterior-left-btn button a {
    display: block;
    padding: .6rem 0;
}

.modelx .design .exterior .exterior-left .exterior-left-btn button:hover {
    background-color: rgb(79, 78, 78);
}

.modelx .design .exterior .exterior-left .exterior-left-btn button:first-child {
    width: 12rem;
    padding: 0;
    margin: 2rem 0 1rem 0;
    background-color: black;
    border: 2px solid white;
    font-size: 1rem;
    border-radius: 4px;
}

.modelx .design .exterior .exterior-left .exterior-left-btn button:first-child a {
    transition: var(--transition);
}

.modelx .design .exterior .exterior-left .exterior-left-btn button:hover:first-child a {
    background-color: white;
    color: black !important;
}

.modelx .design .exterior .exterior-right p {
    font-size: 1rem;
    line-height: 22px;
    color: white;
}

.modelx .design {
    height: auto;
    display: block;
    width: 100vw;
    background-color: black;
}

.modelx .design .design-item {
    display: grid;
    color: var(--white);
    border-radius: 4px;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
}

.modelx .design .design-item .design-item-right {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.modelx .design .design-item .design-item-right img {
    width: 100%;
    height: 100%;
}

.modelx .design .design-item .design-item-left {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.modelx .design .design-item .design-item-left h1 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modelx .design .design-item .design-item-left p {
    font-size: .9rem;
}

.modelx .design .other {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0;
}

.modelx .design .design-item .other h1 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modelx .design .design-item .other p {
    font-size: .9rem;
}

.modelx .range {
    display: grid;
    grid-template-columns: auto 25rem;
    padding: 0;
    margin-bottom: 4rem;
    width: 100vw;
}

.modelx .range .range-left {
    width: 100%;
    position: relative;
    display: block;
}

.modelx .range .range-left .range-left-units {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    bottom: 3rem;
    color: white;
    position: absolute;
}

.modelx .range .range-left .range-left-units .range-left-unit h1 {
    font-weight: lighter;
}

.modelx .range .range-left .range-left-units .range-left-unit p {
    font-size: .86rem;
}

.modelx .range .range-left video {
    width: 100%;
    display: block;
    object-fit: fill;
}

.modelx .range .range-right {
    padding: 2rem 1.5rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modelx .range .range-right .range-right-text h4 {
    font-size: 1.1rem;
    margin-bottom: .6rem;
    font-weight: lighter;
}

.modelx .range .range-right .range-right-text h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.modelx .range .range-right .range-right-text p {
    font-size: .83rem;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.modelx .range .range-right .range-right-text p a {
    color: black;
    text-decoration: underline;
}

.modelx .range .range-right .range-right-btn {
    width: 100%;
}

.modelx .range .range-right .range-right-btn * {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.modelx .range .range-right .range-right-btn button:nth-child(2) {
    padding: .7rem 0;
    background-color: rgb(238, 238, 238);
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.modelx .range .range-right .range-right-btn button:hover:nth-child(2) {
    background-color: rgb(222, 222, 222);
}

.modelx .range .range-right .range-right-btn button:first-child {
    border: 2px solid black;
    border-radius: 4px;
    transition: var(--transition);
    background-color: transparent;
}

.modelx .range .range-right .range-right-btn button:hover:first-child {
    background-color: black;
}

.modelx .range .range-right .range-right-btn button a {
    padding: .8rem 0;
    transition: var(--transition);
    color: black;
}

.modelx .range .range-right .range-right-btn button a:hover {
    background-color: black;
    color: white;
}

.modelx .structure {
    display: grid;
    grid-template-columns: auto 25rem;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.modelx .structure .structure-left {
    padding: 2rem 1.5rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: 0;
    justify-content: space-between;
}

.modelx .structure .structure-left .structure-left-text h4 {
    font-size: 1.1rem;
    margin-bottom: .6rem;
    font-weight: lighter;
}

.modelx .structure .structure-left .structure-left-text h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.modelx .structure .structure-left .structure-left-text p {
    font-size: .83rem;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.modelx .structure .structure-left .structure-left-text p a {
    color: black;
    text-decoration: underline;
}

.modelx .structure .structure-left .structure-left-btn {
    width: 100%;
    margin-top: 2rem;
}

.modelx .structure .structure-left .structure-left-btn * {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.modelx .structure .structure-left .structure-left-btn button:nth-child(2) {
    padding: .7rem 0;
    background-color: rgb(238, 238, 238);
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.modelx .structure .structure-left .structure-left-btn button:hover:nth-child(2) {
    background-color: rgb(222, 222, 222);
}

.modelx .structure .structure-left .structure-left-btn button:first-child {
    border: 2px solid black;
    border-radius: 4px;
    transition: var(--transition);
    background-color: transparent;
}

.modelx .structure .structure-left .structure-left-btn button:hover:first-child {
    background-color: black;
}

.modelx .structure .structure-left .structure-left-btn button a {
    padding: .8rem 0;
    transition: var(--transition);
    color: black;
}

.modelx .structure .structure-left .structure-left-btn button a:hover {
    background-color: black;
    color: white;
}

.modelx .structure .structure-right {
    grid-area: 1;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.modelx .structure .structure-right img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.modelx .radius {
    width: 100vw;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    height: 130vh;
    display: grid;
    grid-template-columns: 20rem auto;
}

.modelx .radius .radius-item {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-around;
}

.modelx .radius .radius-item .radius-item-unit h1 {
    font-weight: 100;
    margin-bottom: .4rem;
}

.modelx .radius .radius-item .radius-item-unit p {
    font-size: .9rem;
    letter-spacing: 1px;
}

.modelx .description {
    background-color: black;
    display: grid;
    color: white;
    grid-template-columns: 53% auto;
}

.modelx .description .description-right {
    padding-top: 3rem;
}

.modelx .description .description-right .description-right-heading h1 {
    font-weight: lighter;
    font-size: 1.8rem;
}

.modelx .description .description-right .description-right-btn {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;
}

.modelx .description .description-right .description-right-btn button {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(50, 49, 49);
    padding: .5rem 0;
    width: 14rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 4px;
}

.modelx .description .description-right .description-right-btn button.active {
    border-color: white;
}

.modelx .description .description-right .description-right-units {
    display: flex;
    align-items: center;
    gap: 7.5rem;
}

.modelx .description .description-right .description-right-units h1 {
    font-weight: lighter;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.modelx .description .description-right .description-right-units small {
    color: grey;
}

.modelx .description .description-right .description-right-units .description-right-unit {
    margin-bottom: 1rem;
}

.modelx .description .description-left {
    background-position: center;
    background-size: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
}

.modelx .description .descBtn {
    text-align: center;
    margin: 3rem 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.modelx .description .descBtn button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: .5rem 4rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 4px;
}

.modelx .description .descBtn button:hover {
    background-color: white;
    color: black;
}

.modelx .structure .structure-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

.modelx .structure .structure-right .structure-right-units {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.modelx .structure .structure-right .structure-right-units .structure-right-unit {
    margin: 0 1.5rem;
}

.modelx .structure .structure-right .structure-right-units .structure-right-unit h1 {
    font-weight: lighter;
}

.modelx .structure .structure-right .structure-right-units .structure-right-unit p {
    font-size: .86rem;
}

@media screen and (max-width: 1026px) {
    .modelx .description {
        display: grid;
        /* overflow: hidden; */
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .description .description-left {
        height: 70vh;
        background-size: cover;
        object-fit: fill;
        background-repeat: no-repeat;

        width: 100vw;
    }

    .modelx .description .description-right {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 840px) {
    .modelx .eletcric .electric-gallery {
        height: 60vh;
    }

    .modelx .eletcric .electric-desc {
        display: grid;
        grid-gap: 3rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .eletcric .electric-desc * {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .modelx .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .about .about-left .about-left-btn {
        width: 100%;
    }

    .modelx .about .about-left .about-left-btn button:first-child {
        width: 100%;
    }

    .modelx .about .about-left .about-left-btn button:first-child a {
        display: block;
        width: 100%;
    }

    .modelx .about .about-left .about-left-btn button {
        width: 100%;
    }

    .modelx .modelxMain .modelxMain-header .modelxMain-header-units {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-unit {
        padding: 0;
    }

    .modelx .modelxMain .modelxMain-header .modelxMain-header-units .modelxMain-header-unit h1 {
        font-size: 1.3rem;
    }

    .modelx .modelxMain .modelxMain-header {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: fill;
    }

    .modelx .eletcric {
        padding-top: 2rem;
    }

    .modelx .structure {
        display: grid;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .structure .structure-right {
        height: 29rem;
    }

    .modelx .structure .structure-left .structure-left-btn {
        margin-top: 1rem;
    }

    .modelx .design .exterior {
        display: grid;
        padding-top: 0rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .design .exterior .exterior-left .exterior-left-btn {
        width: 100%;
    }

    .modelx .design .exterior .exterior-left .exterior-left-btn button:first-child {
        width: 100%;
    }

    .modelx .design .exterior .exterior-left .exterior-left-btn button:first-child a {
        display: block;
        width: 100%;
    }

    .modelx .design .exterior .exterior-left .exterior-left-btn button {
        width: 100%;
    }
}

@media screen and (max-width: 775px) {}

@media screen and (max-width: 674px) {
    .modelx .modelxMain .modelxMain-future {
        height: 100vh;
    }

    .modelx .feature-item .feature {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }

    .modelx .feature-item .feature {
        width: 100%;
    }

    .modelx .feature-item .feature .feature-right {
        margin-left: 1rem;
    }

    .modelx .design {
        width: 100vw;
    }

    .modelx .design .design-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        width: 97%;
        overflow: hidden;
    }

    .modelx .design .design-item .design-item-right {
        margin-left: 1rem;
    }

    .modelx .exterior-main {
        height: 100vh;
    }

    .modelx .description .description-right {
        width: 93%;
        margin: 0 auto;
        padding-left: .5rem;
    }

    .modelx .description .description-right .description-right-btn {
        display: grid;
        width: 80vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .modelx .description .description-right .description-right-btn button {
        width: 100%;
    }

    .modelx .description .description-right .description-right-units {
        grid-gap: 1rem;
    }
}